html {
    scroll-behavior: smooth;
}

:root {
    --color_primario: #DEE2E6;
    --color_Segundario: #EF233C;
    --color_fondo_Primario: #EDF2F4;
    --color_fondo_segundario: #CED4DA;
    --color_fondo_nav: #343A40;
    --color_textos: #2B2D42;
}

*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}



.container{
    display: flex;
    width: 70%;
    max-width: 1700px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    

}

section .wrap {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 70%;
    height: 95vh;
    max-width: 1700px;
    margin: auto;
    text-align: center;
    font-size: 1.4em;
    
}



/*Nav*/

nav {
    background-color: var(--color_fondo_nav);
    position: fixed; /*Hace que la caja quede fija */
    width: 100%;
    z-index: 100;
}

nav .nav {
    padding: .9em 0em;
}


nav .container ul li {
    display: inline;
    padding: .2em;
}

nav .container ul li a{
    font-size: 1em;
    color: var(--color_fondo_Primario);
    padding: .8em 1em;
    border-radius: 10px;
}

nav .container ul li a:hover{
    color: var(--color_textos);
    background-color:var(--color_fondo_Primario);
}

nav .container .logo {
    width: 50px;
    
}

/*Fin Nav*/


/*Body*/

body {
    background-color: var(--color_Segundario);
    
}

/*Bienvenidos*/

.bienvenida .down {
    margin-top: 2em;
    
}

.bienvenida {
    background-color: var(--color_fondo_Primario);
    clip-path: polygon(0 0,100% 0,100% calc(100% - 183px),50% 100%,0 calc(100% - 183px));
    font-size: 20px;
}

.bienvenida p{
    margin: 1.5em;
    font-size: 20px;
}

.bienvenida h1{
    margin: 1.5em;
}

.bienvenida .wrap img{
    margin-top: 3em;
    width: 500px;
    height: 500px;
    border: 5px solid var(--color_fondo_nav);
    border-radius: 700px;
    
}

.bienvenida .botones1 {
    display: flex;
    justify-content: space-around;
    margin: 1.5em;
    

}

/*Fin Bienvenidos*/

/*Servicios*/
.servicios {
    background-color: var(--color_fondo_segundario);
    font-size: 16px;
}



.servicios .wrap{
    
    flex-direction: column;
    
}

.servicios .wrap {
    color: var(--color_textos);
    
}

.servicios .wrap p {
    margin: 1.5em 0em;
    
}

.servicios .imagenes{
    display: flex;
    margin: 1.5em 0em;
    
    
}

.servicios .imagenes p {
    margin: 1.5em 0.9em;    
    
}

.servicios .imagenes h1 {
    margin: 0em 0.9em;    
    
}

.servicios .wrap img{
    margin: 1.5em 0em;
    width: 200px;
    height: 200px;
    align-items: center
    

}

.servicios .imagenes img {
    border: 5px solid var(--color_fondo_nav);
    border-radius: 700px;
}


.servicios .imagenes .imagen2 {
   flex-basis: 33.3%;
   
}

.servicios .imagenes .imagen3 {
    flex-basis: 33.3%;
    
 }

 .servicios .imagenes .imagen4 {
    flex-basis: 33.3%;
    
 }
 
/*Fin Servicios*/

/*Trabajos*/

.trabajos .wrap{
    flex-direction: column;
    
}

.trabajos {
    flex-direction: column;
    background-color: var(--color_fondo_Primario);
    color: var(--color_textos);
}

.trabajos p{
    margin: 1.5em 0em;
}

/*slider*/

.swiper {
    width: 70%;
    height: 80%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.swiper-slide {
    width: 100%;

}

.swiper-slide:nth-child(2n) {
    width: 100%;

}

.swiper-slide:nth-child(3n) {
    width: 100%;

}

/*Fin slider*/

/*Fin Trabajos*/

 /*Contacto*/

.contacto {
    background-color: var(--color_fondo_segundario);
    
    
}

.contacto .wrap {
    flex-direction: column;
    color: var(--color_textos);
    
    
}

.contacto p{
    margin: 1.5em 0em;
   
    
}

/*Fin conacto*/

/*Fin Body*/

footer {
    background-color: var(--color_fondo_Primario);
    
    
}

.redes {
    text-align: center;
    padding: 1.5em;
    
}

.redes ul li{
    display: inline;
  
}

.redes ul li a {
    font-size: 1em;
    color: var(--color_textos);
    padding: .1em 0.8em;
    border-radius: 10px;
  
}

.redes ul li a:hover{
    color: var(--color_primario);
    background-color:var(--color_fondo_nav);;
  
}

/* ##Dispositivo = Smartphones de 320px a 479px */
@media (min-width: 320px) and (max-width: 480px) {

    section .wrap {
        flex-direction: column;
        
    }
    
    /*Nav*/

    nav .container .logo {
        width: 20px;
        
    }

    nav .container ul {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

   nav .container {
       flex-direction: column;
       font-size: 9px;
   }

   /*Fin Nav*/

   /*Body*/

    /*Bienvenidos*/

    .bienvenida {
        flex-direction: column;
        clip-path: polygon(0 0,100% 0,100% calc(90% - 70px),50% 100%,0 calc(90% - 70px));
        font-size: 7px;
    }

    .bienvenida p{
        font-size: 7px;
    }


    .bienvenida .wrap img{
        margin-top: 5em;
        width: 100px;
        height: 100px;
        border: 2px solid var(--color_fondo_nav);
        border-radius: 700px;
        
    }

    /*Fin Bienvenidos*/

    /*Servicios*/
    .servicios .imagenes{
       flex-direction: column;
        margin: 1.5em 0em;
        
    }

    .servicios {
       font-size: 5px;
        
    
    }

    .servicios .wrap img{
        margin: 0.5em 0em;
        width: 50px;
        height: 50px;
        align-items: center
            
    }

    .servicios .imagenes img {
        border: 2px solid var(--color_fondo_nav);
        border-radius: 700px;
    }

    /*Fin Servicios*/

    /*Trabajos*/

    .trabajos {
        font-size: 7px;
    }

    

    .swiper {
        width: 100%;
        height: 50%;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: var(--color_fondo_Primario);
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 70%;
        object-fit: contain;
        
    }
    
    .swiper-slide {
        width: 100%;
    
    }
    
    .swiper-slide:nth-child(2n) {
        width: 100%;
    
    }
    
    .swiper-slide:nth-child(3n) {
        width: 100%;
    
    }


    /*Fin Trabajos*/

    /*Contacto*/

    .contacto {
        font-size: 7px;
        
    }

    .contacto iframe{
        width: 300px;
        margin-bottom: 1.5em;
        
    }

    /*Fin Contacto*/

}

/* ##Dispositivo = Tablets, Mobiles de 481px a 767px */
@media (min-width: 481px) and (max-width: 767px) {
   
    section .wrap {
        flex-direction: column;
        
    }

    nav .container ul {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    
    /*Nav*/

    nav .container .logo {
        width: 20px;
        
    }

   nav .container {
       flex-direction: column;
       font-size: 12px;
   }

   /*Fin Nav*/

   /*Body*/

    /*Bienvenidos*/

    .bienvenida {
        flex-direction: column;
        clip-path: polygon(0 0,100% 0,100% calc(100% - 70px),50% 100%,0 calc(100% - 70px));
        font-size: 9px;

    }

    .bienvenida p{
        margin: 0.5em;
        font-size: 10px;
    }


    .bienvenida .wrap img{
        margin-top: 6em;
        width: 100px;
        height: 100px;
        border: 2px solid var(--color_fondo_nav);
        border-radius: 700px;
        
    }

    .bienvenida h1{
        margin: 0.5em;
    }

    .bienvenida .botones1 {
        margin: 0em;
    }

    /*Fin Bienvenidos*/

    /*Servicios*/
    .servicios .imagenes{
       font-display: flex;
       margin: 1.5em 0em;
        
    }

    .servicios {
       font-size: 8px;
           
    }

    .servicios .wrap p{
        margin: 0.5em;
            
     }

    .servicios .wrap img{
        margin: 0.5em 0em;
        width: 50px;
        height: 50px;
        align-items: center
            
    }

    .servicios .imagenes img {
        border: 2px solid var(--color_fondo_nav);
        border-radius: 700px;
    }

    /*Fin Servicios*/

    /*Trabajos*/

    .trabajos {
        font-size: 7px;
    }

    .trabajos h1 {
        margin-top: 2em;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: var(--color_fondo_Primario);
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        
    }
    
    .swiper-slide {
        width: 100%;
    
    }
    
    .swiper-slide:nth-child(2n) {
        width: 100%;
    
    }
    
    .swiper-slide:nth-child(3n) {
        width: 100%;
    
    }


    /*Fin Trabajos*/

    /*Contacto*/

    .contacto {
        font-size: 10px;
        
    }

    .contacto iframe{
        width: 400px;
        margin-bottom: 1.5em;
        
    }

    /*Fin Contacto*/

}



/* ##Dispositivo = Tablets, Ipads (horizontal) 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px)  {

    section .wrap {
        flex-direction: column;
        
    }
    
    /*Nav*/

    nav .container .logo {
        width: 30px;
        
    }

   nav .container {
       flex-direction: column;
       font-size: 16px;
   }

   nav .container ul {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

   /*Fin Nav*/

   /*Body*/

    /*Bienvenidos*/

    .bienvenida {
        flex-direction: column;
        clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px));
        font-size: 12px;

    }

    .bienvenida p{
        margin: 0em;
        font-size: 12px;
    }


    .bienvenida .wrap img{
        margin-top: 8em;
        width: 100px;
        height: 100px;
        border: 2px solid var(--color_fondo_nav);
        border-radius: 700px;
        
    }

    .bienvenida h1{
        margin: 0em;
    }

    .bienvenida .botones1 {
        margin: 0em;
    }

    /*Fin Bienvenidos*/

    /*Servicios*/
    .servicios .imagenes{
       font-display: flex;
       margin: 1.5em 0em;
        
    }

    .servicios {
       font-size: 10px;
           
    }

    .servicios h1{
        margin-top: 1em;
            
     }

    .servicios .wrap p{
        margin: 0.5em;
            
     }

    .servicios .wrap img{
        margin: 0.5em 0em;
        width: 80px;
        height: 80px;
        align-items: center
            
    }

    .servicios .imagenes img {
        border: 2px solid var(--color_fondo_nav);
        border-radius: 700px;
    }

    /*Fin Servicios*/

    /*Trabajos*/

    .trabajos {
        font-size: 10px;
    }

    .trabajos h1 {
        margin-top: 2em;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: var(--color_fondo_Primario);
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        
    }
    
    .swiper-slide {
        width: 100%;
    
    }
    
    .swiper-slide:nth-child(2n) {
        width: 100%;
    
    }
    
    .swiper-slide:nth-child(3n) {
        width: 100%;
    
    }


    /*Fin Trabajos*/

    /*Contacto*/

    .contacto {
        font-size: 10px;
        
    }

    .contacto iframe{
        width: 400px;
        margin-bottom: 1.5em;
        
    }

    /*Fin Contacto*/

 }





